.page-title {
    font-size: clamp(1.325rem, 2vw, 2.2rem);
}

.neeleez-page-header {
    margin-bottom: 2rem;
}


.add-account-btn {
    background: linear-gradient(135deg, #0866FF 0%, #042B5C 100%);
    color: #FFFFFF;
    border: none;
    padding: 8px 18px;
    border-radius: 12px;
    font-size: 1.05rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(8, 102, 255, 0.3);
}

    .add-account-btn:hover {
        transform: translateY(-3px);
        box-shadow: 0 8px 25px rgba(8, 102, 255, 0.5);
        background: linear-gradient(135deg, #0A74FF 0%, #053464 100%);
    }


@media (max-width:560px) {
    .add-new-account-container {
        display: block;
    }

    .neeleez-page-header--actions {
        display: none;
    }
}
